.contactContainer > a{
    margin: 15px 0;
    cursor: pointer;
    text-decoration: none;
}

.contactContainer p{
    font-size: 1.6rem;
    margin: 0;
    color: var(--font-tertiary-color);
}

.footer{
    background-color: var(--background-color-tertiary);
}

.footer > *{
    color: var(--font-tertiary-color);
}

.mapContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.mapContainer > iframe{
    width: 100%;
    max-width: 500px;
    height: 250px;
    border-radius: 3px;
}

.title{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--font-tertiary-color);
}